/*-----ESTILO GENERAL DE LA PAGINA----*/
:root {
  --white-color: #fff;
  --dark-color: #222;
  --section-bg-color: #222;
}
body {
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.cart-quantity {
  border: 1px solid #000;
  outline-color: #000;
  width: 3rem;
  text-align: center;
  font-size: 1rem;
}
/*-----BARRITA DE ANUNCIOS----*/
.announcement-bar {
  background-color: #fff; /* Cambia esto al color de fondo deseado */
  color: #111; /* Cambia esto al color de texto deseado */
  padding: 10px 0; /* Espaciado interno superior e inferior */
  text-align: center; /* Centrar el texto */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
}
/*----------LOGIN---------*/
.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 888;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease;
}
.account-form {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -100%);
  z-index: 888;
  max-width: 720px;
  width: 95%;
  opacity: 0;
  pointer-events: none;
}
/*Script*/
.show-login .account-form {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}
.show-login .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}
.account-form .form-box {
  display: flex;
}
.account-form .signup,
.account-form.show-signup .login {
  display: none;
}
.account-form.show-signup .signup {
  display: flex;
}
.account-form .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.form-box .form-details {
  max-width: 330px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.form-box h2 {
  text-align: center;
  margin-bottom: 30px;
}
.form-box .form-content {
  width: 100%;
  padding: 35px;
}
form .input-field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
form .input-field input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 0.95rem;
  border: 1px solid #000;
}
.form-box a {
  color: #ff0000;
}
button {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 0;
  margin: 25px 0;
  color: #fff;
  cursor: pointer;
  background: #000;
  transition: 0.2s ease;
}
button:hover {
  color: #ff0000;
}
.form-box .forgot-pass {
  display: inline-flex;
  margin-top: 14px;
  font-size: 0.95rem;
}
.form-box .bottom-link {
  text-align: center;
}
.login .form-details {
  background: url("../images/login-img.jpeg");
  background-size: cover;
  background-position: center;
}
.signup .policy-text {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}
#user-icon {
  cursor: pointer;
  color: #fff;
}
/*---------CARRITO---------*/


#cart-icon {
  cursor: pointer;
  color: #fff;
}
/*-----BARRA PRINCIPAL----*/
header {
  width: 100%;
  top: 10;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10%;
  background-color: #111;
}
.logo img {
  max-width: 80px;
  height: auto;
}
.navmenu {
  display: flex;
  text-align: center;
}
.navmenu a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navmenu a:hover {
  color: #ff0000;
}
.navmenu icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.nav-icon i:hover {
  transform: scale(1.1);
  color: #ff0000;
}
.menu-icon {
  display: none;
}
#menu_icon {
  font-size: 30px;
  color: #2c2c2c;
  z-index: 10001;
  cursor: pointer;
}
/*-----CONTENIDO DEL MAIN----*/
main {
  min-height: 100vh;
}
.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}
.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}
.swiper-slide .text-content {
  position: absolute;
  top: 25%;
  color: var(--white-color);
  margin: 0 100px;
  transition: 0.3s ease;
}
.swiper-slide .text-content h2 {
  color: #fff;
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}
.swiper-slide-active .text-content h2 {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}
.text-content span {
  font-size: 0.3em;
  font-weight: 300;
}
.text-content p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  border-right: 1px solid rgb(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translate(-80px);
  opacity: 0;
}
.swiper-slide-active .text-content p {
  transform: translate(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}
.swiper-slide .text-content .btn-more {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  max-width: 30%;
  opacity: 0;
}
.swiper-slide-active .text-content .btn-more {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}
.text-content .btn-more i {
  font-size: 1.6em;
  transition: 0, 3s ease;
  max-width: 30%;
}
.text-content .btn-more:hover i {
  transform: translateX(5px);
}
.dark-layer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}
.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}
.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}
/*-----PRUDUCTOS TRENDING----*/
.trending-products {
  padding: 5% 10%;
}
.center-text h2 {
  color: #111;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}
.center-text span {
  color: #ff0000;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}
.row {
  position: relative;
  transition: all 0.4s;
}
.row img {
  width: 100%;
  height: auto;
  transition: all 0.4s;
}
.row img:hover {
  transform: scale(0.9);
}
.product-text h5 {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: red;
  padding: 3px 10px;
  border-radius: 2px;
}
.icon-container {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 10px; /* Ajusta según sea necesario */
}
.heart-icon,
.buy-icon {
  font-size: 20px;
  margin-left: 10px; /* Espacio entre los iconos */
}
.heart-icon:hover {
  color: #ff0000;
}
.buy-icon:hover {
  color: #ff0000;
}
.info h4 {
  color: #111;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}
.info p {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
/*---------PRODUCTO DETALLES---------*/
.product-details {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1500px;
  margin: 20px auto;
}
.product-details .row {
  display: flex;
  width: 50%;
}
.image-product {
  flex: 1;
  max-width: 700px;
  margin-right: 50px;
  margin-left: 50px;
}
.image-product img {
  width: 100%;
  border-radius: 8px;
}
.details-product {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-name {
  font-size: 40px;
  text-transform: uppercase;
}
.product-price {
  font-size: 30px;
}
.details-product button {
  margin: 5px;
  max-width: 400px;
}
.details-product p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-quantity {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.price-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.original-price {
  font-size: 30px;
  margin-right: 10px;
  text-decoration: line-through;
}
.discounted-price {
  font-size: 30px;
  margin-right: 10px;
}
.product-discount {
  font-size: 16px;
  color: red;
  margin-left: 10px;
}

/*-----CONTACTO Y REDES SOCIALES----*/
.contact input {
  background-color: #000; /* Color de fondo negro */
  color: #fff; /* Color del texto blanco */
  border: 1px solid #fff; /* Borde blanco */
  padding: 10px; /* Espaciado interno */
  width: 150%;
}
.contact {
  padding: 4% 10%;
  background-color: #000;
  display: grid;
  align-items: center;
}
.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.contact img {
  width: 100px;
  height: auto;
}
.contact-info h4 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-info p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.42s;
}
.contact-info p:hover {
  color: #ff0000;
}
.social-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contact-info .social-icon i {
  color: #fff;
  margin-right: 10px;
  font-size: 25px;
  transition: all 0.42s;
}
.social-icon {
  text-align: right;
}
.social-icon i:hover {
  transform: scale(1.3);
}
/*------POLITICAS------*/
.text-policies {
  padding: 20px 25% 5%;
}
.text-policies h1 {
  text-align: center;
  justify-content: center;
  padding: 70px 20px 20px;
}
.text-policies h3 {
  text-align: center;
  justify-content: center;
  padding: 20px 20px 20px;
}
.text-policies p {
  text-align: center;
  justify-content: center;
  padding: 20px 20px 20px;
}
/*------COMENTARIOS------*/
.contact-message h1 {
  font-size: 30px;
  padding: 40px 0px 40px;
}
.contact-form {
  padding: 10px 10px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.flex-row {
  display: flex;
  gap: 15px;
}
.contact-form .text-box,
textarea {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 0 15px;
  font-size: 0.95rem;
  border: 1px solid #000;
  resize: vertical;
}
.contact-form .send-btn {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 0;
  color: #fff;
  cursor: pointer;
  background: #000;
  transition: 0.2s ease;
}
.send-btn:hover {
  color: #ff0000;
}
/*-----TEXTO FINAL-----*/
.end-text {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}
.end-text p {
  color: #111;
}
